.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
 }
 div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
nav ul li{
    display:inline-block;
    padding: 60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}

ul{
	background-color:#080808;
    margin-top:-2px;
}
.page3{
margin-top:-17px;
width:100%;
height:613px;	
position:no-repeat;
border-radius:0px 0px 15px 15px;
background-image: url('fond3.jpg')
}
aside{
    background-image: url('trano.jpg') ;
    border-radius:0px 0px 0px 0px;
    height:185px;
    margin-top:-20px; 
}

.sar{
    margin-top:-50px;
}
article{
    color:#0d0d0e;
    text-align: center;
    width:20%;
    background-color:#fbf5b6;
    border-radius:15px 15px 15px 15px;
    margin-left:1045px;
    margin-top:5px;
    height:460px;
    }
    
.ani{
    margin-left:10px;
    color:#1d07f7;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.espace{
    margin-left:30px;
    color:#1d07f7;
    font-family:sans-serif;
    font-weight: bold;
     font-size: 20px;
}
p{
    font-size: 14px;
    font-family:cursive;
}
article a{
    color: #f70d8c;
    text-decoration: underline;
}

