
.bienv{
    color:#f5470b;
    font-weight:bold;
    font-family:dayrom;
    font-size:40px;
    font-style: oblique;
    font-weight: bold;
    
}
.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
    
}   
.page1{
margin-top:-17px;
background-image:url('baobab1.jpg');
width:100%;
height:600px;	
position:no-repeat;
}
 
nav ul li{
    display:inline-block;
    padding:60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}

ul{
	background-color:#080808;
    margin-top:-2px;
}
   
a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}
.page1{
margin-top:-17px;
background-image:url('baobab1.jpg');
width:100%;
height:600px;	
position:no-repeat;
border-radius:0px 0px 15px 15px;
}
.p1{
	text-color:3a69c9c;
	text-align:center;
	margin-top:200px;
	font-size:30px;
	color:white;
	background-color:rgba(79,100,117,0.5);
	
}
.google{
	color:#f3e012;
	font-size:25px;
	font-family:'century gothic',calibri,serif;
}
.introduction{
	font-size:40px;
	font-family:#7b7575;
	color:#b22d2d;
}