.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
 }
 div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
nav ul li{
    display:inline-block;
    padding: 60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}


ul{
	background-color:#080808;
    margin-top:-2px;
}
.page6{
margin-top:-17px;
width:100%;
height:550px;	
position:no-repeat;
border-radius:0px 0px 15px 15px;
background-image: url('a.jpg')
}
article{
    background-color:rgba(79,100,117,0.5);;
    width:37%;
    height:549px;
    margin-top: -19px;
    margin-left:800px;
    font-size: 18px;
    font-style: italic;
    font-weight:bold;
    text-align: ;
    border-radius:0px 0px 15px 15px;
    text-align: justify;
    padding: 20px;
    
}
aside{
    margin-left:300px;
    font-size: 13px;
    margin-top: -30px;
    color:#f5f6a9;
}
.ferm{
    font-size: 40px;
    margin-top:-12PX;
    font-style: oblique;
    font-weight: bold;
    color: #1a494a;
}