.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
 }
 div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
nav ul li{
    display:inline-block;
    padding: 60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}

ul{
	background-color:#080808;
    margin-top:-2px;
}
.page4{
    margin-top:-17px;
    width:100%;
    height:600px;	
    position:no-repeat;
    border-radius:0px 0px 15px 15px;
    background-image: url('population1.jpg')
}
.eth{
    margin-top:70px;
    margin-left:456px;
}
.tandroy{
    margin-top:-544px;
    margin-left:1057px;
}
.pop{
    margin-top:260px;
}
.stat{
    background-color:#070707;
    margin-top:-451px;
    height: 280px;
}
.statitre{
    font-size:17px;
    font-family: arial;
    font-style:italic;
    font-weight: bold;
    margin-left:82px;
    color: #309bab;
}
article p{
    font-size:15px;
    margin-left: 12px;
    font-family: cursive;
    color:white;
}
aside{
    margin-top:-620px;
    background-color:white;
    width:30%;
    height:600px;
    margin-left:12px;
    border-radius:15px 15px 15px 15px;
    border:3px #777b7c solid;
}
.tanana{
    margin-left:50px;
    margin-top: 30px;
}
.popjeune{
    margin-left:90px;
    font-family:fantasy;
    font-weight:bold;
    font-style: oblique;
    color:#fc902a;
    font-size: 22px;
}
aside p{
    text-align: center;
    font-family:cursive;
    font-size:14px;
    color:#504a54;
    
}
