.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
 }
 div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
nav ul li{
    display:inline-block;
    padding: 60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}

ul{
	background-color:#080808;
    margin-top:-2px;
}
   
a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}
.page5{
margin-top:-17px;
background-image:url('fond5.jpg');
width:100%;
height:600px;	
position:no-repeat;
border-radius:0px 0px 15px 15px;
}
.table{
    color:#04f81b;
    border-collapse: collapse;
    background-image:url('saryprojet/aragasy.jpg');
    margin-left:714px ;
    margin-top: -297px;
    font-weight: bold;
    font-style: italic;
}
td{
    border: 2px solid #09d9ec;
}
thead{
    color:yellow;
}
.tab{
    color:white;
    font-size: 8px;
    font-family:fantasy;
    margin-left: 900px;
}
article{
    color:white;
    background-color: black;
    vertical-align: top;
    width:30%;
    height:640px; 
    margin-top:-639.5px;
    border-radius:0px 0px 15px 15px;

    
}
article p{
    font-family: ;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    font-size: 16px;
    margin-left:24px;

}
.mainty{
     margin-left:22px;
}
.taty{
    margin-left:30px;
}
aside h1{
    width:69.8%;
    margin-left:402px;
    background-color: white;
    height: 320px;
    text-align: center;
    border-radius:0px 0px 15px 0px;
}
aside h1{
    font-size:13px;
    color:black;
}
.fam{
    margin-top:-3px;
    margin-left: 470px;
}