.logo{
    height:100px;
    width:100px;
    margin-left: 50px;
}
h1{
    margin-left:550px;
    color:white;
    }
    
 .h1{
    border-radius:15px 15px 0px 0px;
 }
 div{
	background-color:#214618;
	padding-top:20px;
	padding-bottom:20px;
    
}a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    color:#f95757;
}
nav ul li{
    display:inline-block;
    padding: 60px;
    font-size: 20px;
    font-family: dayrom;
    font-weight: bold;
    margin-top:-30px;
}
nav{
    height: 100px;
}


ul{
	background-color:#080808;
    margin-top:-2px;
}
.gasikara{
    margin-top:0px;
    display:inline-block;
    vertical-align:top;
}
.africa{
    vertical-align:top;
    margin-top:0px;
}
ul{
    list-style: none;
    
}

article{
    margin-top:-15px;
}

.page2{
margin-top:-17px;
background-image:url('paysage.jpg');
width:100%;
height:610px;	
position:no-repeat;
border-radius:0px 0px 15px 15px;
}
p{
	text-color:3a69c9c;
	text-align:center;
	margin-top:10px;
	font-size:18px;
	color:#0c0304;
    text-align: justify;
    height:590px;
    padding:-2px; 
}
aside{
    margin-left:650px;
    margin-right:310px;
}
.loc{
    margin-left:120px;
    font-weight:bold;
    font-size:Arial Nova;
    color: #1025c8;
    margin-top:-1px;
}
.propos{
     margin-left:70px;
    font-weight:bold;
    font-size:Arial Nova;
    color: #1025c8;
    
}
.drapeau{
    color: #1ded0d;
    text-decoration:underline;
}

.filoha{
    color: #1ded0d;
    text-decoration:underline;
}


